# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Claude Code local session config
.claude/settings.local.json
